/* font-sizes: 1 rem, 1.4rem, 1.8rem, 2.4rem, */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #030e17;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*****************/
/* HEADER */
/*****************/
#navbar {
    top: 0;
    z-index: 1;
    transition: 0.2s;
}

.sticky {
    position: sticky !important;
    box-shadow: 0px 1px 10px #999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 2.4rem 10rem 2.4rem 10rem;
}

.logo {
    font-weight: 700;
    color: black;
    font-size: 1.8rem;

}

.main-nav-list {
    width: 100%;
    column-gap: 2rem;
    display: flex;
    justify-content: space-between;
    padding-right: 3.2rem;
    font-size: 1.4rem;
}

.main-nav-link {
    transition: color 700ms, font-weight 700ms ease;
    color: black;
}

.main-nav-link:hover {
    color: #0096c7;
    font-weight: 600;
}

#resume-focus {
    padding: .4rem 0.6rem;
    transition: background-color 700ms ease,
        color 700ms ease, transform 700ms ease;
    border: solid;
    border-radius: 50px;
    color: #0096c7;
}

#resume-focus:hover {
    color: white;
    background-color: #457b9d;
    transform: scale(1.1);
}

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);

}

.nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;

}

.nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;

}

/*****************/
/* SECTION-HERO */
/*****************/
.section-hero {
    background-color: #f8f9fa;
    padding: 4.8rem 0 18.8rem 0;
    margin-bottom: 7.2rem;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.my-projects-focus {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 2rem;
    color: #e9ecef;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #0096c7 74%);
    transition: box-shadow 300ms;
}

.my-projects-focus:hover {
    box-shadow: 0px 20px 20px #ade8f4;
}

.hero-img {
    width: 100%;
    color: #e9ecef;
}

.section-introduction {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.section-introduction-name {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.section-paragraph {
    color: #6c757d;
    line-height: 1.8rem;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2.8rem;
}

/*****************/
/* ABOUT-ME-SECTION */
/*****************/
.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 auto;
}


.home-about-area {
    margin-left: 2.2rem;
    padding-bottom: 9.8rem;
}

.home-about-header {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.home-about-paragraph {
    border-left: 3px solid #ade8f4;
    padding-left: 15px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #495057;
    line-height: 1.8rem;
    margin-bottom: 3rem;
}

.about-me-btn {
    color: #e9ecef;
    font-size: 1.8rem;
    background-color: #00b4d8;
    padding: .6rem 1.5rem;
    transition: box-shadow 300ms;

}

.about-me-btn:hover {
    box-shadow: 0px 10px 10px #ade8f4;
}

/*****************/
/* AREAS-OF-INTEREST-SECTION */
/*****************/
.container-aoi {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    text-align: center;
}

.areas-of-interest-header-div {
    grid-column: 1 / span 3;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 4rem;
    font-size: 2.8rem;
}

.areas-of-interest-header {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.areas-of-interest-subheader-paragraph {
    font-size: 2rem;
    color: #6c757d;
}

.areas-of-interest-blocks {
    justify-self: center;
    padding-bottom: 3rem;
}

.aoi-icon {
    margin: auto;
    height: 3.8rem;
    width: 3.8rem;
    margin-bottom: 2rem;
    transition: color 700ms ease;
}

.areas-of-interest-blocks:hover .aoi-icon {
    color: #00b4d8;
}

.areas-of-interest-blocks:hover .aoi-subheader {
    color: #00b4d8
}


.aoi-subheader {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    transition: color 700ms ease;
}

.areas-of-interest-paragraph {
    color: #495057;
    line-height: 1.6rem;
}






.nav {
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-left: 2rem;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    padding: 2rem 2rem;
}

.nav>.nav-header>.nav-title h3 {
    font-weight: 500;
    font-size: 2.2rem;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    padding-top: 0.7rem;
    display: inline;
    float: right;
    font-size: 1.4rem;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #030e17;
    transition: color 700ms, font-weight 700ms ease;
}

.nav>.nav-links>a:hover {
    color: #0096c7;
    font-weight: 600;
}

.nav>#nav-check {
    display: none;
}



/*****************/
/* LATEST-PROJECTS */
/*****************/

.grid-3cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    column-gap: 2rem;
    padding: 0rem 10rem;
}

.header-text {
    grid-column: 1 / span 3;
}

.col-md-8>h1 {
    font-size: 2.8rem;
    font-weight: 500;
}

.col-md-8>p {
    font-size: 1.8rem;
    font-weight: 400;
    color: #6c757d;
}

.justify-content-center {
    justify-content: center;
}

.section-gap {
    padding-top: 80px;
}

.recent-blog-area {
    background: #f9f9ff;
}

.recent-blog-area h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    text-transform: capitalize;
}

.recent-blog-area p {
    margin-bottom: 45px;
    text-align: center;
}

.single-recent-blog .thumb {
    overflow: hidden;
}

.single-recent-blog .thumb img {
    max-width: 100%;
    max-height: 200px;
    top: 50%;
    left: 50%;
}


.single-recent-blog h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 35px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-recent-blog a {
    color: #222;
}

.single-recent-blog .name {
    font-size: 13px;
    font-weight: 100;
}

.single-recent-blog p {
    text-align: left;
    margin-top: 15px;
    font-size: 1rem;
    line-height: 1.5rem;
}

.single-recent-blog .bottom {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.single-recent-blog .bottom span {
    margin-left: 10px;
}

.single-recent-blog .f-img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-recent-blog:hover {
    cursor: pointer;
}

.single-recent-blog:hover h4 {
    color: #0096c7;
}

.single-recent-blog:hover .f-img {
    cursor: pointer;
    transform: scale(1.05);
}

f-img {
    width: 200px;
    height: 150px !important;
    overflow: hidden;
}



/*****************/
/* FOOTER-SECTION */
/*****************/

.footer {

    padding: 6rem 0;
    border-top: 2px solid #0077b6;
    background-color: #2b2d42;
}

.grid-footer {
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link {
    transition: color 700ms ease !important;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #f7ede2;
}

.footer-link:hover,
.footer-link:active {
    color: #48cae4;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 1rem;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.footer-container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 auto;
}

.footer-grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

.footer-grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.footer-programs ul {
    line-height: .8rem;
}

.footer-subheader {
    display: flex;
    justify-content: center;
    color: #edf2f4;
}

.footer-programs a {
    color: white;
    padding-left: 0.5rem;
}

.footer-programs p {
    transition: color 700ms ease;
}

.footer-programs p:hover {
    color: #00b4d8;
}